:root {
    /* --- BACKROUND COLOR --- */
    background-color: rgb(246, 246, 246);

    --headerColor:#38b6ff;
    --leftHandSide: #5271ff;
    --volunteerColor: #c2f6ff;
}

/* ---------------------------------------------------------- */
/* GENERAL PARENT CLASS FOR ARTICLE CONTAINER */
/* .resume-header-leftSide-connection{
    display: flex;
    flex-direction: column;
    margin-bottom: ;
} */

/* ---------------------------------- */
/* HEADER STYLING */

#resume-header{
    padding: 1rem;
    padding-left: 40%;
    line-height: 0.6rem;
    position: relative; /* Ensure it stacks properly */
    z-index: 5; /* Lower z-index than #resume-ld-icon */

    background-color: var(--headerColor);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional styling */

}

#resume-header h1{
    font-size: 35px;
}

#graduation-text{
    font-size: large;
    font-weight: bold;
}

#resume-header h2{
    font-weight: lighter;
}
/* ---------------------------------- */



/* Parent container for left-hand side and main info */
.resume-content {
    display: flex; /* Align children side by side */
    margin-top: 2rem; /* Add spacing below the header */
}

/* ---------------------------------- */
/* ICON/AVATAR/INITIALS STYLING */
#resume-ld-icon {
    position: absolute; /* Position it absolutely */
    top: 50%; /* Adjust this value to place it correctly */
    left: 8%; /* Adjust this value to align it horizontally */
    z-index: 10; /* Ensure it appears above other elements */
    height: 200px;
    width: 200px;
    background-color: white;
    border: solid 2px black;
    border-radius: 100%;
}

#resume-ld-icon h1{
    color:var(--headerColor);
    font-style: italic;
    text-decoration: underline;
    font-size: 90px;
    text-align: center;
}
/* ---------------------------------- */







/* ---------------------------------- */
/* LEFT-HAND SIDE STYLING */
.resume-leftHand-side {
    flex: 1; /* Take up 1 part of the available space */
    background-color: var(--leftHandSide);
    padding: 2rem;
    margin-right: 2rem; /* Add spacing between the two articles */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional styling */
}

.resume-leftHand-side h2{
    text-decoration: underline;
}

#resume-leftHand-side-section{
    color: white;
    padding-left: 2rem;
    justify-self: center;
}

/* THE SPECIFIC PROGRAMMING SKILLS UNDER "PROGRAMMING SKILLS" */
#prog-skills{
    padding-left: 3rem;
    font-size: small;
    line-height: 0.4rem;
}

/* ~~ volunteer experience ~~ */
#volunteer-box{
    background-color: var(--volunteerColor);
    padding-left: 8%;
    padding-right: 8%;    
}
#volunteer-box h2{
    justify-self: center;
}
/* ---------------------------------- */


/* ---------------------------------- */
/* RESUME STYLING */
#resume-main-info {
    flex: 2; /* Take up 2 parts of the available space */
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional styling */
}


