/* FONTS USED: */
/* love light */ @import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Love+Light&family=Rochester&display=swap");
/* rochester */ @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Italianno&family=Jacques+Francois&family=Love+Light&display=swap");

:root {
  /* --- BACKROUND COLOR --- */
  background-color: rgb(246, 246, 246);

  /* CONTENT COLORS */
  --contentBlue: #5ac7e8;
  --contentOrange: #e6821e;
  /* TEXT COLORS */
  --textSunburn: rgb(199, 171, 143);
  --textGrey: #5d6669;

  /* EXTRA COLORS */
  --extraColor: #6c9aa8;
}




/* -------------------------------------------------------------------------------------- NAVIGATION MENU -------------------------------------------------------------------------------------- */
.dropbtn{
  align-self: center;
  font-size: xx-large;
  text-decoration: none;
  background-color: white;
  color: black;
  font-family: "Rochester", cursive;
  border: none;
  cursor: pointer;
}  

nav {
  position: fixed;
  display: inline-block;
  background-color: white;
  /* border-bottom: 3px solid black;
  border-top: 3px solid black; */
  /* display: flex; */
  /* list-style-type: none; */
  width: 100%;
  padding: 1rem;
  /* justify-content: space-evenly; */
  height: 6rem;
  z-index: 100;
  box-shadow: 0px 10px rgb(241, 241, 241);  
  top:0rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.nav:hover .dropdown-content {
  display: block;
}

.nav:hover .dropbtn {
  background-color: lightgray;
}

nav a{
  text-decoration: none;
  align-self: center;
  font-size: xx-large;
  color: black;
  font-family: "Rochester", cursive;
}

nav ul li{
  list-style-type: none;
  padding: 1rem;
  margin-right: 10vh;
}

nav ul{
  display: flex;
}


/* -------------------------------------------------------------------------------------- CONTENT STYLING -------------------------------------------------------------------------------------- */

p{
  font-family: "Rochester", cursive;
  font-size: x-large;
}

h2{
    font-family: "Love Light", cursive;
      font-size: 70px;
}
 




/* --- BACKGROUND FOR ALL PAGES --- */
body{
    background-image: url("/0StartupIMG/1background.png");
}

#home-fade-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    opacity: 1;
    pointer-events: none;
    transition: opacity 3s ease-in-out;
  }
  
  #home-fade-in.fade-out {
    opacity: 0;
  }


  .parallax {
    display: flex;
    width: 100%;
    justify-content: center;
    /* The image used */
    background-image: url("/5landscapeIMG/landscape-fullImage.jpg");
    opacity: 50%;
  
    /* Set a specific height */
    height: 800px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.text-container {
    color: white;
    background-attachment: fixed;

    /* background: rgba(199, 171, 143, 0.5); */
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: x-large;
}

.text-container h1{
  z-index: 1;
  font-size: 200px;
  background-attachment: fixed;
  font-family: "Love Light", cursive;
}

/* index */
/* #startup-text{
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:125px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16rem;

    transition-duration: 2s;
    color:white;
    color: black;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  } */

/* @keyframes example {
    0%   {background-color:red; left:200px; top:200px;}
    25%  {background-color:yellow; left:1700px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:200px; top:200px;}
} */

@media screen and (max-width: 300px) {
  .parallax {
    height: 200px;
    background-attachment: scroll;
    background-image: url("/5landscapeIMG/landscape-fullImage.jpg");
  }
  .text-container {
    color: white;
    background-attachment: fixed;

    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .text-container h1{
    font-size: x-large;

  }

}
